<mat-card>
    <mat-card-title>Tem certeza que quer deletar o produto ?</mat-card-title>
    
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome do produto" 
                [value]="product.name" name="name" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)"
                [value]="product.price" name="price" disabled>
        </mat-form-field>
    </form>
    
    <button mat-raised-button (click)='delete()' color="primary">
        Confirmar
    </button>
    
    <button mat-raised-button (click)='cancel()' color="warn">
        Cancelar
    </button>
</mat-card>